.unit {
  width: 100%;
  margin-top: 20px;
  .title {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #6a6a6a;
    margin-bottom: 10px;
    user-select: none;
  }
}
