@font-face {
  font-family: Rubik;
  src: local('Rubik'), url(../assets/fonts/font-Rubik/Rubik-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Rubik;
  src: local('Rubik'), url(../assets/fonts/font-Rubik/Rubik-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Rubik;
  src: local('Rubik'), url(../assets/fonts/font-Rubik/Rubik-ExtraBold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Rubik;
  src: local('Rubik'), url(../assets/fonts/font-Rubik/Rubik-Black.ttf) format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: Rubik;
  src: local('Rubik'), url(../assets/fonts/font-Rubik/Rubik-Light.ttf) format('truetype');
  font-weight: 300;
}


@font-face {
  font-family: Free4F;
  src: local('Free4F'), url(../assets/fonts/CodenameCoderFree4F-Bold.ttf) format('truetype');
}

@font-face {
  font-family: GTEestiProText;
  src: local('GTEestiProText'), url(../assets/fonts/font-GTEestiProText/GTEestiProText-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Tomorrow;
  font-weight: 600;
  font-style: italic;
  src: local('Tomorrow'), url(../assets/fonts/font-Tomorrow/Tomorrow-MediumItalic.ttf) format('truetype');
}


@font-face {
  font-family: Tomorrow;
  font-weight: 600;
  font-style: italic;
  src: local('Tomorrow'), url(../assets/fonts/font-Tomorrow/Tomorrow-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: Tomorrow;
  font-weight: 300;
  src: local('Tomorrow'), url(../assets/fonts/font-Tomorrow/Tomorrow-Light.ttf) format('truetype');
}

@font-face {
  font-family: Raleway;
  src: local('Raleway'), url(../assets/fonts/Raleway.ttf) format('truetype');
}

@font-face {
  font-family: AzeretMono;
  font-weight: 800;
  src: local('AzeretMono'), url(../assets/fonts/font-AzeretMono/AzeretMono-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: AzeretMono;
  font-weight: 700;
  src: local('AzeretMono'), url(../assets/fonts/font-AzeretMono/AzeretMono-Bold.ttf) format('truetype');
}

