$base: rgb(20, 22, 26);
$magenta: rgb(131, 20, 201);
$primary: linear-gradient(45deg, rgb(66, 7, 150), rgb(109, 15, 184));
//$primary: linear-gradient(45deg, rgb(32, 0, 123), $magenta);
$accent: rgb(233, 236, 255);
$header: rgb(33, 36, 42);
$lbase: lighten($base, 2%);
$dbase: darken($base, 2%);
$primary-gradient: linear-gradient(327deg, rgb(255, 176, 176) 0%, rgb(255, 137, 224) 50%, rgb(163, 71, 255) 100%);

$red: #ff6161;
$yellow: #ffe959;
$green: #59ff6f;
