@import "src/renderer/style/vars";

.vs{
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.yellow {
  color: $yellow;
}
