@import "src/renderer/style/vars";

.switch{
  font-size: 18px;
  position: relative;
  .star{
    font-size: inherit;
    transition: all .3s;
    color: darkgray;
  }
  .solid{
    font-size: 0;
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 1px);
    transform: translate(-50%, -50%);
  }
  .active {
    font-size: 18px;
    color: $yellow;
  }
}
