.wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'usercard usercard main main main news news'
    'profiles profiles main main main news news'
    'profiles profiles main main main news news'
    'profiles profiles main main main news news'
    'profiles profiles main main main news news';
  grid-auto-columns:1fr;
  grid-gap: 10px;
  .usercard{
    grid-area: usercard;
  }
  .profile{
    grid-area: profiles;
  }
  .main{
    grid-area: main;
  }
  .news {
    grid-area: news;
  }
}
